<a mat-raised-button color="primary" routerLink="/livro/cadastrar">
    <mat-icon mat-list-icon>add</mat-icon>
    Novo Livro</a
>

<table mat-table [dataSource]="livros" class="mat-elevation-z8">
    <!-- Coluna do Id -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let livros">{{ livros.id }}</td>
    </ng-container>
    <!-- Coluna do Nome -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let livros">{{ livros.name }}</td>
    </ng-container>
    <!-- Coluna do Descrição -->
    <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let livros">{{ livros.author }}</td>
    </ng-container>
    <!-- Coluna do Quantidade -->
    <ng-container matColumnDef="editor">
        <th mat-header-cell *matHeaderCellDef>Editor</th>
        <td mat-cell *matCellDef="let livros">{{ livros.editor }}</td>
    </ng-container>
    <!-- Coluna do Categoria -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let livros">
            {{ livros.gender!.name }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
</table>
